/* global styles*/
* {
  padding: 0;
  margin: 0;
}

/* text styles */

p {
  font-size: 12px;
  text-align: left;
  color: white;
}

h1 {
  color: rgba(95, 242, 27, 1);
}

/*navigation*/
nav {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

a:link {
  text-decoration: none;
  color: rgba(95, 242, 27, 1);
}

a:visited {
  text-decoration: none;
  color: rgba(95, 242, 27, 1);
}

.hamburger {
  border: none;
  background: #3f4045;
  padding: 12px;
}

.hamburger:hover {
  background: gray;
}

.dropdown {
  float: left;
  position: sticky;
  top: 0;
  width: 100vw;
}

.nav-games {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
  background-color: #3f4045;
}

.nav-game {
  display: flex;
  align-items: center;
}

.nav-game:hover {
  background-color: gray;
  cursor: pointer;
}

.nav-game img {
  height: 10vh;
}

.nav-anim {
  transform: scaleX(1);
}

.nav-text {
  padding: 12px;
  color: white;
}

.links {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-family: 'Space Mono', monospace;
  color: rgba(95, 242, 27, 1);
  font-size: 2rem;
}

.logo {
  width: 5vw;
  padding: 10px;
}

/* main content */
body {
  font-size: 14px;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #3f4045;
}

title {
  color: rgba(95, 242, 27, 1);
}

#game-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 10px;
}

.game h1 {
  text-decoration: none;
  width: 100%;
  font-size: 25px;
  color: rgba(95, 242, 27, 1);
  font-weight: bold;
  background: black;
}

.game img {
  width: 100%;
  background-color: black;
}

footer {
  bottom: 0;
  text-align: center;
  color: grey;
  text-decoration: none;
}

/* Game Page */

.game-page {
  display: flex;
  flex-direction: column;
  margin: 0 10vw 0 10vw;
}

.game-box {
  background-color: gray;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-box h1 {
  text-align: center;
}

.game-box img {
  width: 100%;
}

.how-to-play {
  text-align: center;
}

/* About Page */
.aboutText {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

/* Math Game */

#start-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#start-button:hover {
  background-color: rgba(95, 242, 27, 1);
}

#math-problem {
  font-size: 3rem;
  color: rgba(95, 242, 27, 1);
}

#answer {
  width: 80%;
  height: 10vh;
  font-size: 3rem;
}

#score {
  background: none;
  font-size: 3rem;
}

/* media queries */
@media only screen and (min-width: 992px) {
  p {
    font-size: 17px;
    text-align: left;
  }

  .nav-games {
    width: 30vw;
  }

  .links {
    font-size: 3rem;
  }

  body {
    width: 100vw;
  }

  title {
    color: rgba(95, 242, 27, 1);
  }

  #game-container {
    width: 40vw;
  }

  .game {
    width: 40%;
  }

  .game h1 {
    width: 100%;
  }

  .game img {
    width: 100%;
  }

  /* game page */
  .game-page {
    flex-direction: row;
    justify-content: space-between;
  }

  .game-box {
    width: 55vw;
    margin: 0 2vw 0 22vw;
  }

  .how-to-play {
    width: 20vw;
  }

  .aboutText {
    margin-left: 250px;
    margin-right: 250px;
  }
}
